DATABASE_URL=postgresql+asyncpg://tickets_user:tickets_pass@localhost:5432/tickets
FRONTEND_ORIGIN=http://localhost:5173
SECRET_KEY=df5fe84210a5589ddfb46cf86a84d7434a51749436745ddd7232bb0cb812ceb6
ACCESS_TOKEN_EXPIRE_MINUTES=60
